<div class="jumbotron center">
<h1>Welcome to </h1>
<h1>Bruno</h1>
<h1>i Top Recipes</h1>
<p><%= link_to "Select Language", "#", class: "btn btn-danger btn-lg btn-xlarge" %></p>
<p><%= link_to "Enter", "#", class: "btn btn-danger btn-lg btn-xlarge" %></p>
</div>
 
