<div class="jumbotron center">
<h1>Welcome to MyRecipes</h1>
<h2>The best recipes sharing app</h2>
<p><%= link_to "sign up or Log in", "#", class: "btn btn-danger btn-lg btn-xlarge" %></p>
</div>


  
      <div class="col-lg-4">
          <p><a class="btn btn-primary btn xlarge" href="#" role="button">Admin Login &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <p><a class="btn btn-primary btn xlarge" href="#" role="button">Take a tour as a guest &raquo;</a></p>
       </div>
         <div class="col-lg-4">
      <p><a class="btn btn-primary btn xlarge" href="#" role="button">Chef Login &raquo;</a></p>
       </div>
      

    