<footer class="footer">
 <small>
  <strong><a href="http://www.itoprecipes.com/">Powered by iTopRecipes</a></strong>
  by <em><a herf="http://www.itoprecipes.com/">Powered by iTopRecipes</a></em>
 </small>
 <nav>
   
   <ul>
     <li><%= link_to "About", '#' %></li>
   </ul>
  </nav>
 </footer>